<header class ="bg-0">
	<div 
		class		= "hero" 
		ng-style	= "{'background-image' : 'url('+icItem.image+')'}" 
		ng-if		= "icItem.image"
	></div> 
</header>

<section 
 	ng-if = "ic.user.can('edit_items')"
	class = "bg-0 padding"
>
	<div>		
		<div> <!-- spacer --> </div>
		<div>

			<div ng-if = "icItem.creator">
				{{'ITEMS.CREATOR' | translate}} 	 	{{icItem.creator 	}} 	({{icItem.creationDate | icDate}})
			</div>
			<div ng-if  ="icItem.lastEditor">
				{{'ITEMS.LAST_EDITOR' | translate}}  	{{icItem.lastEditor	}}	({{icItem.lastEditDate | icDate}})
			</div>	
			<div ng-if = "!icItem.internal.new">
				<a class = "active" ng-click ="ic.admin.autoTranslate(icItem)">{{'INTERFACE.AUTO_TRANSLATE'| translate }}</a>
			</div>
		</div>
	</div>

	<article ng-if = "icItem.proposals && icItem.proposals.length > 0">

		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'INTERFACE.PROPOSALS' | translate}}</h4>

			<p>{{'INTERFACE.PROPOSALS_NOTE' | translate}}</p>

			<ic-item-proposals ic-item = "icItem"></ic-item-proposals>
		</div>

	</article>

</section>

<section class = "bg-0 padding">

	<div>		
		<div> <!-- spacer --> </div>
		
		<!-- EDIT -->
		<h3 ng-if = "!icItem.internal.new && ic.user.can('edit_items')">
			{{'INTERFACE.EDIT_ITEM'| translate}} ({{icItem.title}})
		</h3>


		<!-- EDIT -->
		<h3 ng-if = "!icItem.internal.new && !ic.user.can('edit_items')">
			{{'INTERFACE.SUGGEST_ITEM_EDIT'| translate}} ({{icItem.title}})
		</h3>


		<!-- NEW -->
		<h3 ng-if = "icItem.internal.new && ic.user.can('edit_items')">
			{{'INTERFACE.CREATE_NEW_ITEM'| translate}} 
		</h3>

		<!-- SUGGESTION -->
		<h3 ng-if = "icItem.internal.new && !ic.user.can('edit_items')">
			{{'INTERFACE.SUGGEST_NEW_ITEM'| translate}}
		</h3>

	</div>

</section>

<section 
	class = "bg-0 padding"
 	ng-if = "ic.user.cannot('edit_items')"
>

	<article>
		<div> <!-- spacer --> </div>
		<div 
			ng-if = "!icItem.internal.new"
			ng-bind-html ="'INTERFACE.SUGGEST_ITEM_EDIT_NOTE' | translate | markdown">
		</div>

		<div 
			ng-if = "icItem.internal.new" 
			ng-bind-html ="'INTERFACE.SUGGEST_NEW_ITEM_NOTE' | translate | markdown">
		</div>
	</article>


	<!-- contact information for suggestions -->

	<article 
		ng-repeat 	= "key in ['name', 'mail', 'apiKey']"
	>
		<div> <!-- spacer --> </div>
		<div>							
			<h4 > 
				{{'ITEMS.SUGGESTION_%s' | fill: key | translate}} 
				({{ 
					(
						require(key)
						?	"INTERFACE.REQUIRED" 
						:	"INTERFACE.OPTIONAL"
					) | translate
				}})
			</h4>

			<div
				class 		= "ic-item-property-edit"
				ng-class	= "{invalid: suggestionMetaErrors[key]}"
			>
				<form 
					ng-submit 		= "ic.keyboard.tabNextInput()"
					auto-complete 	= "on"
				>
						
					<input 
						class				= "bg-1 col-0"
						id					= "suggestion-{{key}}"
						type 				= "{{ {'name': 'text', 'mail': 'email', 'apiKey': 'text'}[key] }}"
						ng-model			= "suggestionMeta[key]"
						ng-model-options	= "{updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 }}"
						ng-change			= "suggestionMetaErrors[key] && validateSuggestionMeta(key)"
						ng-blur				= "validateSuggestionMeta(key)"
						ic-auto-fill		= "'suggestionMeta-'+key"
						list				= "{{'list-suggestionMeta-'+key}}"
					/>
					{{ic.autoFill.currentValues[key]}}
					<datalist 
						id		= "{{'list-suggestionMeta-'+key}}"
						ng-if 	= "ic.autoFill.currentValues['suggestionMeta-'+key]"
					>
						<option 
							ng-repeat 	= "value in ic.autoFill.currentValues['suggestionMeta-'+key]"
							value		= "{{value}}"
						></option>
					</datalist>

					<button
						type		= "button"
						class 		= "icon icon-interface-checkbox left"
						ng-class 	= "{ 'checked': ic.autoFill.confirmation['suggestionMeta-'+key]}"
						ng-click	= "ic.autoFill.toggleConfirmation('suggestionMeta-'+key)"
					>
						{{'INTERFACE.AUTOFILL' | translate}}
					</button>

					<div class  = "note col-1">{{"ITEMS.SUGGESTION_%s_NOTE" | fill : key | translate }}</div>
	
					<div ng-if = "!suggestionMetaErrors[key]" 	class = "error"></div>
					<div ng-if = "suggestionMetaErrors[key]"	class = "error col-3"> 
						{{'ITEMS.SUGGESTION_%s_%s' | fill : [key, suggestionMetaErrors[key].code] | translate}} 
					</div>


				</form>
			</div>

		</div>
	</article>


	<!-- editing Note, if user cannot edit item, this propery moves to the top of the form-->

	<article >
		<div> <!-- spacer --> </div>
		<div>		
		
			<h4> {{'ITEMS.EDITING_NOTE' | translate}}</h4>

			<ic-item-property-edit
				ic-item						= "icItem"
				ic-type						= "text"
				ic-key						= "editingNote"
			></ic-item-property-edit>
		</div>

	</article>

	<article ng-if = "!icItem.internal.new">
		<div> <!-- spacer --> </div>
		<div class = "flex">
			<button 
				class 		= "padding flex-grow"
				ng-class	= "{'bg-3': !show.details, 'bg-1': show.details}"
				ng-click 	= "show.details = !show.details"
			>
				{{ (show.details ? 'INTERFACE.HIDE_ITEM_DETAILS' : 'INTERFACE.EDIT_ITEM_DETAILS') | translate}}
				<span 
					class 		= "icon"
					ng-class	= "{'icon-interface-down white': !show.details, 'icon-interface-close plain': show.details}" 
				></span>
			</button>
		</div>
	</article>

	<div><div> <!-- spacer --> </div><hr class  = "bg-2"/></div>

</section>

<section 
	ng-hide = "!icItem.internal.new && ic.user.cannot('edit_items') && !show.details"
	class = "bg-0 padding"
>

	<!-- tags/type -->
	<article>
		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'ITEMS.TYPE' | translate}}</h4>

			<ic-item-property-edit
				class						= "long-labels"
				ic-item						= "icItem"
				ic-type						= "array"
				ic-translation-key			= "type"
				ic-options					= "ic.taxonomy.types | mapToKey : 'name' | preventLoop"
				ic-option-label				= "'TYPES.%s' | fill: option | translate"
				ic-option-icon-class		= "'icon-type-' + option"
				ic-allow-multiple-choices	= "false"
				ic-force-choice				= "true"
				ic-key						= "tags"
			></ic-item-property-edit>
		</div>
	</article>

	<!-- title -->

	<article>
		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'ITEMS.TITLE' | translate}}</h4>

			<ic-item-property-edit
				ic-item					= "icItem"
				ic-type 				= "string"
				ic-key					= "title"
			></ic-item-property-edit>
		</div>
	</article>


	<!-- brief -->
	<article>
		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'ITEMS.BRIEF' | translate}} ({{'LANGUAGES.%s' | fill: ic.site.currentLanguage | translate}})</h4>

			<ic-item-property-edit
				ic-item					= "icItem"
				ic-key					= "brief"
				ic-type 				= "string"
				ic-translatable			= "true"
			></ic-item-property-edit>
		</div>
	</article>


	<!-- description -->
	<article>
		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'ITEMS.DESCRIPTION' | translate}} ({{'LANGUAGES.%s' | fill: ic.site.currentLanguage | translate}})</h4>
			
			<ic-item-property-edit
				ic-item					= "icItem"
				ic-key					= "description"
				ic-type 				= "text"
				ic-translatable			= "true"
			></ic-item-property-edit>
		</div>
	</article>



	<!-- image -->
	<article ng-if ="ic.user.can('edit_items')">
		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'ITEMS.IMAGE' | translate}}</h4>

			<ic-help ic-message = "ITEMS.IMAGE_HELP"></ic-help>

			<ic-item-property-edit
				ic-type 				= "string"
				ic-key					= "image"
				ic-item					= "icItem"
			></ic-item-property-edit>
		</div>
	</article>




	<div><div> <!-- spacer --> </div><hr class  = "bg-2"/></div>

	

	<!-- tags/category -->

	<article>
		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'ITEMS.CATEGORY' | translate}}</h4>

			<ic-item-property-edit
				ic-item						= "icItem"
				ic-type						= "array"
				ic-translation-key			= "category"
				ic-options					= "ic.taxonomy.categories | mapToKey : 'name' | preventLoop"
				ic-option-label				= "'CATEGORIES.%s' | fill: option | translate"
				ic-option-icon-class		= "'icon-category-' + option"
				ic-allow-multiple-choices	= "true"
				ic-force-choice				= "true"
				ic-key						= "tags"
			></ic-item-property-edit>
		</div>
	</article>



	<!-- primary category -->

	<article >
		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'ITEMS.PRIMARY_TOPIC' | translate}}</h4>


			<ic-item-property-edit
				ic-item						= "icItem"
				ic-type						= "string"
				ic-translation-key			= "PRIMARY_TOPIC"
				ic-options					= "icEdit.tags | section : (ic.taxonomy.categories | mapToKey: 'name') | preventLoop"
				ic-option-label				= "'CATEGORIES.%s' | fill: option | translate"
				ic-option-icon-class		= "'icon-category-' + option"
				ic-allow-multiple-choices	= "false"
				ic-force-choice				= "true"
				ic-key						= "primaryTopic"
			></ic-item-property-edit>
		</div>
	</article>


	<div><div> <!-- spacer --> </div><hr class  = "bg-2"/></div>


	<div>
		<div><div class = "icon icon-property-location"></div></div>
		<h4>{{'ITEMS.FULL_ADDRESS' | translate}}</h4>
	</div>

	<!-- location_ref -->

	<article ng-if = "(icItem | icType).name != 'location'">
		<div><div class = "icon icon-property-location_ref"></div></div>		
		<div>
			<h4> {{'ITEMS.LOCATION_REF' | translate}}</h4>			
			<ic-item-property-edit
				class						= "long-labels"
				ic-item						= "icItem"
				ic-type						= "string"
				ic-key						= "location_ref"
				ic-translation-key			= "location_ref"
				ic-options					= "ic.itemStorage.data | icTags : ['location'] | mapToKey : 'id' | preventLoop"
				ic-options-filter-limit		= "5"				
				ic-option-filter-key		= "option ? ic.itemStorage.getItem(option).title + ', ' +ic.itemStorage.getItem(option).address : '' "
				ic-option-label				= "option ? ic.itemStorage.getItem(option).title + ', ' +ic.itemStorage.getItem(option).address : '' "
				ic-allow-multiple-choices	= "false"
				ic-force-choice				= "false"
			></ic-item-property-edit>
		</div>
	</article>


	<div>
		<div><div class = "icon icon-property-location"></div></div>
		<div>
			<h4>{{'ITEMS.FULL_ADDRESS' | translate}}</h4>

			<p ng-if ="icEdit.location_ref"><em>{{'ITEMS.LOCATION_REF_WARNING' | translate}}</em></p>
		</div>
	</div>



	<!-- location -->
	<article ng-if = "!icEdit.location_ref">
		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'ITEMS.LOCATION' | translate}}</h4>

			<ic-item-property-edit
				ic-type 				= "string"
				ic-key					= "location"
				ic-item					= "icItem"
			></ic-item-property-edit>
		</div>
	</article>



	<!-- address -->
	<article ng-if = "!icEdit.location_ref">
		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'ITEMS.ADDRESS' | translate}}</h4>

			<ic-item-property-edit
				ic-type 				= "string"
				ic-key					= "address"
				ic-item					= "icItem"
			></ic-item-property-edit>
		</div>
	</article>

	<!-- zip -->
	<article ng-if = "!icEdit.location_ref">
		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'ITEMS.ZIP' | translate}}</h4>

			<ic-item-property-edit
				ic-type 				= "string"
				ic-key					= "zip"
				ic-item					= "icItem"
			></ic-item-property-edit>
		</div>
	</article>

	<!-- city -->
	<article ng-if = "!icEdit.location_ref">
		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'ITEMS.CITY' | translate}}</h4>

			<ic-item-property-edit
				ic-type 				= "string"
				ic-key					= "city"
				ic-item					= "icItem"
			></ic-item-property-edit>
		</div>
	</article>


	<div ng-if = "!icEdit.location_ref"><div> <!-- spacer --> </div><hr class  = "bg-2"/></div>

	<article ng-if = "!icEdit.location_ref">
		<div> <div class = "icon icon-property-coordinates"></div> </div>
		<div>
			<div class = "split">
				<div>
					<h4> {{'ITEMS.LATITUDE' | translate}}</h4>
					
					<ic-help ic-message = "{{ 'ITEMS.LATITUDE_HELP' }}"></ic-help>

					<ic-item-property-edit
						ic-type 				= "string"
						ic-key					= "latitude"
						ic-item					= "icItem"
					></ic-item-property-edit>
				</div>
				<div>
					<h4> {{'ITEMS.LONGITUDE' | translate}}</h4>
					
					<ic-help ic-message = "{{ 'ITEMS.LONGITUDE_HELP' }}"></ic-help>

					<ic-item-property-edit
						ic-type 				= "string"
						ic-key					= "longitude"
						ic-item					= "icItem"
					></ic-item-property-edit>
				</div>
				
				<button
					class		= "border-3 padding"
					ng-click	= "guessCoordinates(icEdit.city, icEdit.address, icEdit.zip)"
					title		= "{{'INTERFACE.GUESS_COORDINATES' | translate}}"
				>
					{{'INTERFACE.GUESS_COORDINATES' | translate}}
				</button>

				<button
					class	 	= "border-3 padding"										
					ng-click	= "pickCoordinates()"
					title		= "{{'INTERFACE.PICK_COORDINATES' | translate}}"
				>
					{{'INTERFACE.PICK_COORDINATES' | translate}}
				</button>
				
			</div>
		</div>
	</article>

	
	<div><div> <!-- spacer --> </div><hr class  = "bg-2"/></div>

	
	<!-- responsible institution (options)-->

	<article>
		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'ITEMS.RESPONSIBLE_INSTITUTION' | translate}}</h4>

			<a 
				class		= "bg-3 white mini icon icon-interface-cogwheel round"
				ng-if		= "ic.user.can('edit_options')"
				ng-href 	= "/p/options"
			>
			</a>


			<ic-item-property-edit
				class						= "long-labels"
				ic-item						= "icItem"
				ic-type 					= "array"
				ic-translation-key			= "responsible_institution"
				ic-options					= "ic.taxonomy.tags.options_ri"							
				ic-options-filter-limit		= "5"
				ic-option-label				= "ic.options.getLabel(option)"	
				ic-option-filter-key		= "ic.options.getLabel(option)"
				ic-allow-multiple-choices	= "true"
				ic-key						= "tags"
			></ic-item-property-edit>
			
		</div>
	</article>

	<div><div> <!-- spacer --> </div><hr class  = "bg-2"/></div>


		<!-- hours -->
	<article>
		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'ITEMS.HOURS' | translate}} ({{'LANGUAGES.%s' | fill: ic.site.currentLanguage | translate}})</h4>
			
			<ic-help ic-message = "ITEMS.HOURS_HELP"></ic-help>
			

			<ic-item-property-edit
				ic-item					= "icItem"
				ic-key					= "hours"
				ic-type 				= "text"
				ic-translatable			= "true"
			></ic-item-property-edit>
		</div>
	</article>



	<div><div> <!-- spacer --> </div><hr class  = "bg-2"/></div>


	<!-- tags/unsorted -->

	<article 
		ng-repeat 	= "key in ['target_groups', 'districts', 'languages', 'accessibility',  'institution_type', 'service_type']"
		ng-if		= " !['option_ri', 'extra'].includes(key) && (key != 'lists' || !ic.config.disableLists)"
	>
		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'ITEMS.%s' | fill : key | translate}}</h4>

			<ic-help 
				ng-if = "['target_groups', 'districts', 'languages'].indexOf(key) != -1"
				ic-message = "{{ 'ITEMS.%s_HELP'|fill:key }}"
			>
			</ic-help>

			<ic-item-property-edit
				ng-if						= "key != 'extra'"
				ic-item						= "icItem"
				ic-type						= "array"
				ic-translation-key			= "{{key}}"
				ic-options					= "ic.taxonomy.tags[key]"
				ic-option-label				= "'UNSORTED_TAGS.%s' | fill: option | translate"
				ic-check-all				= "key == 'districts'"
				ic-allow-multiple-choices	= "true"
				ic-key						= "tags"
			></ic-item-property-edit>


		</div>
	</article>


	

	<div><div> <!-- spacer --> </div><hr class  = "bg-2"/></div>


	<!-- misc-->
	<article ng-repeat = "key in ['contact', 'email', 'phone']">
		<div> <div class = "icon icon-property-{{key}}"></div> </div>
		<div>
			<h4> {{'ITEMS.%s' | fill : key | translate}}</h4>

			<ic-item-property-edit
				ic-type 				= "string"
				ic-key					= "{{key}}"
				ic-item					= "icItem"
			></ic-item-property-edit>
		</div>
	</article>

	<div><div> <!-- spacer --> </div><hr class  = "bg-2"/></div>

	<article ng-repeat = "key in ['website', 'facebook', 'twitter', 'instagram', 'youtube', 'vimeo', 'telegram', 'whatsapp']">
		<div> <div class = "icon icon-property-{{key}}"></div> </div>
		<div>
			<h4> {{'ITEMS.%s' | fill : key | translate}}</h4>

			<ic-item-property-edit
				ic-type 				= "string"
				ic-key					= "{{key}}"
				ic-item					= "icItem"
			></ic-item-property-edit>
		</div>
	</article>


	<div><div> <!-- spacer --> </div><hr class  = "bg-2"/></div>

	<article>
		<div> <!-- spacer --> </div>
		<div class = "flex flex-space flex-wrap">
			<div class = "flex-grow">
				<h4> {{'ITEMS.PROJECT_START_DATE' | translate}}</h4>

				<ic-item-property-edit
					ic-item						= "icItem"
					ic-type						= "string"				
					ic-key						= "projectStartDate"
					ic-date						= "true"
					ic-skip-time				= "true"
				></ic-item-property-edit>
			</div>
		
			<div class = "flex-grow">
				<h4> {{'ITEMS.PROJECT_END_DATE' | translate}}</h4>

				<ic-item-property-edit
					ic-item						= "icItem"
					ic-type						= "string"				
					ic-key						= "projectEndDate"
					ic-date						= "true"
					ic-skip-time				= "true"
				></ic-item-property-edit>
			</div>
		</div>
	</article>



	<div><div> <!-- spacer --> </div><hr class  = "bg-2"/></div>



	<article ng-if = "ic.user.can('edit_items')" >
		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'ITEMS.RESUBMISSION_DATE' | translate}}</h4>

			<ic-item-property-edit
				ic-item						= "icItem"
				ic-type						= "string"				
				ic-key						= "resubmissionDate"
				ic-date						= "true"
				ic-skip-time				= "true"
			></ic-item-property-edit>
		</div>
	</article>

	<div ng-if = "ic.user.can('edit_items')"><div> <!-- spacer --> </div><hr class  = "bg-2"/></div>

	<article ng-if = "ic.user.can('edit_items')" >
		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'ITEMS.STATE' | translate}}</h4>

			<ic-item-property-edit
				ic-item						= "icItem"
				ic-type						= "string"
				ic-options					= "true"
				ic-option-label				= "'ITEMS.STATE_%s' | fill: option | translate"
				ic-allow-multiple-choices	= "false"
				ic-force-choice				= "true"
				ic-key						= "state"
			></ic-item-property-edit>
		</div>
	</article>


	<!-- editing Note, if user cannot edit item, this propery moves to the top of the form-->

	<article ng-if ="ic.user.can('edit_items')">
		<div> <!-- spacer --> </div>
		<div>
			<h4> {{'ITEMS.EDITING_NOTE' | translate}}</h4>

			<ic-item-property-edit
				ic-item						= "icItem"
				ic-type						= "text"
				ic-key						= "editingNote"
			></ic-item-property-edit>
		</div>
	</article>

</section>

<section class = "bg-0 padding">



	<article>
		<div><!--spacer--></div>
		<div class ="xjust">
			<div>
			</div>
			<button
				class 			= "icon icon-interface-up"
				ic-scroll-to 	= "top"
			>
			</button>
		</div>
	</article>
	

	<article>
		<div> <!-- spacer --></div>


		<!-- EDIT -->

		<div 
			class = "controls"
			ng-if = "!icItem.internal.new && ic.user.can('edit_items')"
		>

			<button
				class 		= "active border-3 bg-0 padding"
				ng-click 	= "cancel()" 
				ic-touch-me
			>
				{{"INTERFACE.CANCEL_EDIT" | translate}}
			</button>


			<button
				class 		= "active border-3 bg-0 padding"
				ng-click 	= "revertAll()" 
				ic-touch-me
			>
				{{"INTERFACE.ITEM_REVERT_ALL" | translate}}
			</button>


			<button
				class 		= "active border-3 bg-0 padding"
				ng-click 	= "validate() ? ic.overlays.open('popup', 'INTERFACE.VALIDATION_SUCCESSFUL') : ic.overlays.open('popup', 'INTERFACE.VALIDATION_FAILED')"	 
				ic-touch-me
			>
				{{"INTERFACE.ITEM_VALIDATE" | translate}}
			</button>


			<button
				class 		= "bg-3 col-2 padding"
				ng-click 	= "submit()"	 
				ic-touch-me
			>
				{{"INTERFACE.SUBMIT_CHANGES" | translate}}
			</button>
		</div>



		<!-- EDIT SUGGESTION-->

		<div 
			class = "controls"
			ng-if = "!icItem.internal.new && !ic.user.can('edit_items')"
		>

			<button
				class 		= "active border-3 bg-0 padding"
				ng-click 	= "cancel()" 
				ic-touch-me
			>
				{{"INTERFACE.CANCEL_EDIT_SUGGESTION" | translate}}
			</button>


			<button
				class 		= "active border-3 bg-0 padding"
				ng-click 	= "revertAll()" 
				ic-touch-me
			>
				{{"INTERFACE.ITEM_REVERT_ALL" | translate}}
			</button>


			<button
				class 		= "bg-3 col-2 padding"
				ng-click 	= "submit()"	 
				ic-touch-me
			>
				{{"INTERFACE.SUBMIT_EDIT_SUGGESTION" | translate}}
			</button>
		</div>


		<!-- NEW -->

		<div 
			class = "controls"
			ng-if = "icItem.internal.new && ic.user.can('edit_items')"
		>

			<button
				class 		= "active border-3 bg-0 padding"
				ng-click 	= "cancel()" 
				ic-touch-me
			>
				{{"INTERFACE.CANCEL_CREATION" | translate}}
			</button>


			<button
				class 		= "bg-3 col-2 padding"
				ng-click 	= "submit()"	 
				ic-touch-me
			>
				{{"INTERFACE.SUBMIT_NEW_ITEM" | translate}}
			</button>
		</div>



		<!-- SUGGESTION -->

		<div 
			class = "controls"
			ng-if = "icItem.internal.new && !ic.user.can('edit_items')"
		>

			<button
				class 		= "active border-3 bg-0 padding"
				ng-click 	= "cancel()" 
				ic-touch-me
			>
				{{"INTERFACE.CANCEL_SUGGESTION" | translate}}
			</button>


			<button
				class 		= "bg-3 col-2 padding"
				type		= "submit"
				ng-click 	= "submit()"
				ic-touch-me
			>
				{{"INTERFACE.SUBMIT_SUGGESTION" | translate}}
			</button>
		</div>

	</article>
</section>
