<ic-taxonomy-filter-tag-list class = "bg-0 padding">
</ic-taxonomy-filter-tag-list>

<section class = "categories" ng-if = "ic.taxonomy.categories && ic.taxonomy.categories.length > 0">
	<div 
		class 		= "bg-0 padding tal"
		ng-click	= "ic.overlays.toggle('taxonomyOverlayCategories')"
		ic-touch-me	= "true" 
	>
		{{'INTERFACE.CATEGORIES' | translate}}
	</div>
	
</section>

<section 
	class 		= "unsorted"
	ng-repeat 	= "(key, tagGroup) in ic.taxonomy.tags" 
	ng-if		= "key != 'lists'"
>
	<div
		class 		= "bg-0 padding tal"
		ng-click	= "ic.overlays.toggle('taxonomyOverlay_'+key)"
		ic-touch-me	= "true" 
	>{{'INTERFACE.TAGS_%s' | fill : key| translate}}
	</div>
	
</section>