

/* ic-text-logo */


ic-logo-print, 
ic-logo-full,
ic-logo-line {
	display:						inline-block;
	background-size:				contain;
	background-repeat: 				no-repeat;
	background-position:			0% 50%;
}


ic-logo-full {
	background-image:				url('/images/large/logo.svg');
}

ic-logo-line {
	background-image:				url('/images/large/logo-line.svg') !important;
}

ic-logo-print {
	background-image:				url('/images/large/logo-print.svg') !important;
}


ic-logo-print, 
ic-logo-full {
	height:							1em;
	width:							4em;
}

ic-logo-line {
	height:							1em;
	width:							7em;
}



/* ic-logo-print */

/*ic-logo-print {
	position:						relative;
	display:						inline-block;
	height:							1em;
	width:							4em;
	background-image:				url('/images/large/logo-print.svg');
	background-size:				contain;
	background-repeat: 				no-repeat;
	background-position:			0% 50%;
}

*/