ic-footer .image {
	height:					6rem;
	width:					20rem;
	max-width:				95%;
	background-size:		contain;
	background-position: 	50% 50%;
	background-repeat:		no-repeat;
	margin:					2rem auto;
}


ic-header .logo {
	justify-content:		flex-start;
	margin-left:			1rem;
}


ic-page [ng-bind-html] {
	padding-bottom:			6rem;
}